/* Fix IntroJS tooltip close button in incorrect position */
.introjs-tooltip-title {
    padding-right: 5%;
    font-family: "Modesto Condensed" !important;
    font-size: 28px;
}

/* Close button */
.introjs-skipbutton {
    top: 1%;
    right: 1%;
    position: absolute;
    color: black;
    font-size: 1em;
}

/* Window box */
.introjs-tooltip {
    background: url(../../../ui/parchment.jpg) repeat;
    color: #191813;
    box-shadow: 0 0 20px #000;
}

/* Text font */
.introjs-tooltipReferenceLayer * {
    font-family: "Signika";
}

/* Font Awesome icons */
.introjs-tooltipReferenceLayer .fa,
.far,
.fas {
    font-family: "Font Awesome 5 Free";
}

/* Footer buttons */
.introjs-button {
    background-color: rgba(0, 0, 0, 0.05);
    border: 2px groove #c9c7b8;
    text-shadow: none;
    cursor: default;
    color: black;
    border-radius: 3px;
}
.introjs-button:hover,
.introjs-button:focus,
.introjs-button:active {
    outline: none;
    box-shadow: 0 0 5px red;
    background-color: rgba(0, 0, 0, 0.05);
    border: 2px groove #c9c7b8;
    color: black;
    text-shadow: none;
}
.introjs-disabled {
    display: none;
}

/* Recolor progress bullets */
.introjs-bullets ul li a.active {
    background: #782e22;
}
.introjs-bullets ul li a {
    background: #00000070;
}

/* Fix padding */
.introjs-tooltip-header {
    padding: 1em;
    padding-bottom: 0;
}
.introjs-tooltiptext {
    padding: 1em;
}
.introjs-bullets {
    padding: 0;
}
